{{extend 'layout.html'}}

<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  {{if response.any:}}
  <li><a href="{{=URL('default', 'advanced')}}">Advanced Search</a></li>
  <li class="active">Results</li>
  {{else:}}
  <li class="active">Advanced Search</li>
  {{pass}}
</ol>
<div class="row">
  <div class="{{if response.any:}}col-xs-3{{else:}}col-xs-6 col-xs-offset-3{{pass}}">
    <div class="panel">
      <div class="panel-body">
        <form action="{{=URL('default', 'advanced')}}" method="get">
          <h4>Advanced Search</h4>
          <div class="form-group">
            <label for="t">Title</label>
            <input type="search" name="t" class="form-control" value="{{=response.t}}"/>
          </div>
          <div class="form-group">
            <label for="w">Writer</label>
            <input type="search" name="w" class="form-control" value="{{=response.w}}"/>
          </div>
          <div class="form-group">
            <label for="a">Artist</label>
            <input type="search" name="a" class="form-control" value="{{=response.a}}"/>
          </div>
          <div class="form-group">
            <label for="p">Publisher</label>
            <input type="search" name="p" class="form-control" value="{{=response.p}}"/>
          </div>
          <div class="form-group">
            <input type="submit" value="Advanced Search" class="btn btn-success pull-right"/>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
  {{if response.any:}}
  <div class="col-xs-9">
    {{if response.message:}}
    <div class="alert alert-success">We've added the comics to your</div>
    {{pass}}
    {{if len(response.results):}}
    <div class="row">
      {{for comics in response.results:}}
      <div class="col-xs-4" id="comics-id-{{=comics['id']}}">
        <div class="panel">
          <div class="thumbnail">
            <div class="thumbnail-wrapper">
              <a href="{{=URL('comics', 'view', vars=dict(id=comics['id']))}}">
                <img src="{{=URL('default', 'download', args=comics['cover'])}}" alt="Cover" style="width:100%"/>
              </a>
            </div>
          </div>
          <div class="caption panel-body">
            <a href="{{=URL('comics', 'view', vars=dict(id=comics['id']))}}"><h4>{{=comics['title']}}</h4></a>
            <p style="height:100px;overflow:hidden">{{=comics['description']}}</p>
            <div class="clear">
            </div>
            <hr/>
            <a href="{{=URL('comics', 'view', vars=dict(id=comics['id']))}}" class="btn btn-success btn-sm pull-left">Details</a>
            <div>
              {{if auth.user_id:}}
              <div class="btn-group pull-right"  data-toggle="tooltip" data-placement="left" title="Copy the comics to:">
                <a href="{{=URL('comics', 'to_box', vars=dict(box=response.unfiled.id,comics=comics['id']))}}" class="btn btn-default btn-sm">Unfiled</a>
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" style="max-height:150px;overflow-y:scroll;width:100%">
                  {{for box in response.user_boxes:}}
                  <li><a href="{{=URL('comics', 'to_box', vars=dict(box=box.id,comics=comics['id']))}}">{{=box.name}}</a></li>
                  {{pass}}
                </ul>
              </div>
              {{else:}}
              <div class="pull-right">
                <div class="btn-group pull-right">
                  <button class="btn btn-default btn-sm" disabled="disabled">Unfiled</button>
                  <button type="button" class="btn btn-default btn-sm" disabled="disabled">
                    <span class="caret"></span>
                  </button>
                </div>
                <div class="tooltip-wrapper-sm" title="You need to login or register before you can add this to your collection."></div>
                <div class="clear"></div>
              </div>
              {{pass}}
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      {{pass}}
    </div>
    {{else:}}
    <div class="alert alert-info">Sorry, we couldn't find any comics. Try relaxing your searching criteria or <a href="{{=URL('comics', 'create')}}" class="alert-link">add new comics</a>.</div>
    {{pass}}
  </div>
  {{pass}}
</div>
