{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
{{if not auth.user_id:}}
<div class="jumbotron">
  <h1>Welcome to Longboxes</h1>
  <p>We live in the golden age of comics books. Longboxes enable you to organize and share your collections with others.</p>
  <p><a class="btn btn-primary btn-lg" href="{{=URL('account', 'signup')}}" role="button">Join Longboxes Community!</a></p>
</div>
{{pass}}
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Newest Comics Collections</div>
      <ul class="list-group">
        {{for item in response.newest:}}
        <li class="list-group-item"><a href="{{=URL('boxes', 'view', args=[item.id])}}">{{=item.name}} <span class="label label-primary pull-right">{{=item.created}}</span></a></li>
        {{pass}}
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Largest Comics Collections</div>
      <ul class="list-group">
        {{for item in response.largest:}}
        <li class="list-group-item"><a href="{{=URL('boxes', 'view', args=[item['id']])}}">{{=str(item['name'])}} <span class="label label-primary pull-right">{{=item['comics']}}</span></a></li>
        {{pass}}
      </ul>
    </div>
  </div>
</div>
