{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  <li class="active">Search results for "{{=request.vars.q}}"</li>
</ol>
<div class="pull-right" style="line-height:50px;">
  <small>Ordered by "Best Match"</small>
</div>
<h1 class="page-header">Search Results <small>for "{{=request.vars.q}}"</small></h1>
{{include 'messages.html'}}
{{if not len(response.results):}}
<div class="alert alert-info">
  Sorry, we couldn't find any comics with title, artist, writer or publisher matching '{{=request.vars.q}}'. Create <a href="{{=URL('comics', 'create')}}" class="alert-link">new comics.</a>
</div>
{{else:}}
<div class="row">
  {{for comics in response.results:}}
  <div class="col-xs-3">
    <div class="panel panel-default">
      <a href="{{=URL('comics', 'view', args=[comics['id']], vars=dict(box=comics['box']))}}" style="overflow-y:hidden; display:block;">
        <div class="thumbnail">
          <img src="{{=URL('default', 'download', args=comics['cover'])}}" alt="Cover" height="300" width="400" class="thumbnail_pic"/>
        </div>
        <div style="min-height:50px;max-height:50px;verflow-y:hidden;padding:0px 15px;"><div class="label label-default pull-right" style="margin-top:5px;">#{{=comics['issue_no']}}</div><span style="font-size:17px;">{{=comics['title']}}</span></div>
        <div class="clear clearfix"></div>
      </a>
        <div class="text-center">
          <a href="{{=URL('comics', 'view', args=[comics['id']], vars=dict(box=comics['box']))}}" class="btn btn-xs btn-primary">View Details &raquo;</a>
        </div>
      <hr/>
      <div style="padding:0px 15px 15px 15px;line-height:30px;">
        <div class="pull-left">
          <span class="glyphicon glyphicon-user"></span> <a href="{{=URL('boxes', 'index', args=[comics['user_id']])}}" title="@{{=comics['username']}}">{{=comics['name']}}</a>
        </div>
        <div class="pull-right">
          {{if auth.user_id:}}
          <div class="btn-group" data-toggle="tooltip" data-placement="left" title="Add to:">
            <a href="{{=URL('comics', 'to_box', vars=dict(box=response.unfiled.id,comics=comics['id'],url=URL('default', 'search', vars=dict(q=request.vars.q))))}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;Unfiled</a>
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" style="max-height:150px;overflow-y:scroll;width:100%">
              {{for box in response.current_user_boxes:}}
              <li><a href="{{=URL('comics', 'to_box', vars=dict(box=box.id,comics=comics['id'],url=URL('default', 'search', vars=dict(q=request.vars.q))))}}">{{=box.name}}</a></li>
              {{pass}}
            </ul>
          </div>
          {{else:}}
          <div class="btn-group pull-right">
            <button class="btn btn-default btn-sm" disabled="disabled">Unfiled</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">
              <span class="caret"></span>
            </button>
          </div>
          <div class="tooltip-wrapper-sm" title="You need to sign in before you can add this to your collection."></div>
          {{pass}}
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  {{pass}}
</div>
{{pass}}
</div>
