{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  <li class="active">Join Longboxes</li>
</ol>
<h1 class="page-header">Join Longboxes</h1>
{{=form.custom.begin}}
<div class="form-horizontal">
  {{if form.errors:}}
  <div class="alert alert-danger text-center">Sorry, we couldn't process your form, because there are some errors. Check below for more details.</div>
  {{pass}}
  <div class="form-group">
    <label for="auth_user_name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-5 help-block">{{=form.custom.widget.name}}</div>
    <div class="col-sm-5 form-helper">This is your display name. It will only be used to address you. If you leave this empty, we will address you by your username. <strong>Example: Chris</strong></div>
  </div>
  <div class="form-group {{if form.errors['username']:}}has-error{{pass}}">
    <label for="auth_user_username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-5 help-block">{{=form.custom.widget.username}}</div>
    <div class="col-sm-5 form-helper">The username will be used for you logins and in order to uniquely identify you within Longbox community. <strong>Example: chris64</strong></div>
  </div>
  <div class="form-group {{if form.errors['password']:}}has-error{{pass}}">
    <label for="auth_user_password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-5  help-block">{{=form.custom.widget.password}}</div>
    <div class="col-sm-5 form-helper">The password should be minimum of 6 characters long.</div>
  </div>
  <div class="form-group {{if form.errors['password_two']:}}has-error{{pass}}">
    <label for="auth_user_password_two" class="col-sm-2 control-label">Confirm Password</label>
    <div class="col-sm-5 help-block">{{=form.custom.widget.password_two}}</div>
    <div class="col-sm-5 form-helper">Passwords must match to ensure that there are no typos and you can login back to your accont.</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <input type="submit" value="Create Account" class="btn btn-success"/>
    </div>
  </div>
</div>
{{=form.custom.end}}
<script>
$(function(){
  document.getElementById('auth_user_name').placeholder = "Optional";
});
</script>
<hr/>
<p>Already have an account? <a href="{{=URL('signin')}}">Sign in</a>
