{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  <li class="active">Sign In</li>
</ol>
<h1 class="page-header">Sign In</h1>
<div class="row">
  <div class="col-xs-8" style="border-right:1px lightgray solid;height:100%;">
    {{if form.errors or response.flash:}}
    <div class="alert alert-danger text-center">Sorry, incorrect username or password.</div>
    {{elif response.message:}}
    <div class="alert alert-warning text-center alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <i class="glyphicon glyphicon-pushpin"></i>
      Sorry, but in order to proceed futher, we need to know who you are. Use the <strong>form below to sign in</strong> or <a href="{{=URL('signup')}}" class="alert-link">register here</a>
    </div>
    {{else:}}
    <div class="alert"></div>
    {{pass}}
    <div class="form-horizontal">
      {{=form.custom.begin}}
      <div class="form-group {{if form.errors['username']:}}has-error{{pass}}">
        <label for="auth_user_username" class="col-sm-2 control-label">Username</label>
        <div class="col-xs-10 help-block">{{=form.custom.widget.username}}</div>
      </div>
      <div class="form-group {{if form.errors['password']:}}has-errors{{pass}}">
        <label for="auth_user_password" class="col-sm-2 control-label">Password</label>
        <div class="col-xs-10">{{=form.custom.widget.password}}</div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-sm-offset-2">
          <div class="checkbox">
            <label for="auth_user_remember_me" class="normal-font">
              {{=form.custom.widget.remember_me}} Remember Me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10"><input type="submit" class="btn btn-success" value="Sign In"/></div>
      </div>
    </div>
    {{=form.custom.end}}
  </div>
  <div class="col-xs-4" style="height:100%; text-align: center;">

    <div class="alert"></div>
    <p>Don't have an account?</p>
    <a href="{{=URL('signup')}}" class="btn btn-primary">Join now!</a>
  </div>
</div>
