<!DOCTYPE html>
<!-- #Exam No: Y0077439 -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{=response.title or request.application}}</title>
  <meta name="application-name" content="{{=request.application}}">
  <meta name="google-site-verification" content="">
  <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{=URL('static','css/bootstrap-theme.min.css')}}"/>
  <script src="{{=URL('static','js/jquery.js')}}"></script>
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script type="text/javascript">
  //Activates the tooltip
  $(document).ready(function(){
    $('.tooltip-wrapper-sm').tooltip({
      placement : 'bottom'
    });
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="modal"]').tooltip();
  });
  </script>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand col-xs-2" href="{{=URL('default', 'index')}}">Longboxes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="top-search-bar">
            <li style="width:100%">
              <form action="{{=URL('default', 'search')}}" class="navbar-form full-width" method="get">
                <div class="form-group full-width">
                  <div class="input-group input-group-sm full-width">
                    <input type="search" id="top-search-bar-input" name="q" placeholder="Enter comic's title, artist, writer or publisher"data-placement="bottom" class="form-control input-xs" value="{{if request.vars.q:}}{{=request.vars.q}}{{pass}}"/>
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-xs" id="top-search-bar-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                  </div>
                </div>
              </form>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="{{if URL('default', 'index') == URL():}}active{{pass}}">
              <a href="{{=URL('default', 'index')}}" id="home-link">
                <span class="glyphicon glyphicon-home"></span> Home
              </a>
            </li>
            <li>
              <a href="{{=URL('boxes', 'my')}}" id="my-boxes-link">
                <span class="glyphicon glyphicon-inbox"></span> My Collection
              </a>
            </li>
            <li class="dropdown">
              <a href="#" id="new-link" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus"></span> New <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{=URL('boxes', 'create')}}" id="new-box-link">Box</a></li>
                <li><a href="{{=URL('comics', 'create')}}" id="new-comics-link">Comics</a></li>
              </ul>
            </li>
            {{if auth.user_id:}}
            <li class="dropdown">
              <a href="#" id="new-link" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{=URL('account', 'signout')}}" id="signout-link">Sign Out</a></li>
              </ul>
            </li>
            {{else:}}
            <li class="{{if URL('account', 'signin') == URL():}}active{{pass}}"><a href="{{=URL('account', 'signin')}}" id="signin-link"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
            {{pass}}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="container">
    {{include}}
  </main>
  <footer class="container">
    &copy; Longboxes 2015-2016. All rights reserved. The content on this website belongs exclusevely to their owners. Longboxes will not take any responsibility for unlawful content.
  </footer>
</body>
</html>
