<!-- #Exam No: Y0077439 -->
{{if request.vars.message:}}
  {{m = request.vars.message}}
  {{if m == 'copied_comics':}}
    <div class="alert alert-success">
      You've successfuly copied the comics '{{=request.get_vars.m_comics}}' to box {{=request.get_vars.m_box}}
    </div>
  {{elif m == 'newbox':}}
    <div class="alert alert-success">You've successfully created new box.</div>
  {{elif m == 'editedbox':}}
    <div class="alert alert-success">You've successfully edited the box.</div>
  {{elif m == 'visibility':}}
    <div class="alert alert-success">You've changed the visibility of the box to: <strong>{{=request.vars.m_status}}</strong>.</div>
  {{elif m == 'newcomics':}}
  <div class="alert alert-success">
    Yey! We've added the comics to the database. See an error? <a href="{{=URL('edit')}}" class="alert-link">Click here to edit</a>
  </div>
  {{elif m == 'deleted_box':}}
  <div class="alert alert-success">
    You've deleted the box '{{=request.vars.m_name}}'. Any remaining commics have been moved here ('Unfiled' box).
  </div>
  {{elif m == 'not_copied':}}
  <div class="alert alert-warning">
    Sorry, this comics is already in the box.
  </div>
  {{elif m == 'in_unfiled':}}
  <div class="alert alert-warning">
    This comics is no longer in any of your boxes, so it will remain 'Unfiled'. If you like to delete it, go to comics details and remove it completely.
  </div>
  {{elif m == 'removed':}}
  <div class="alert alert-success">
    You've removed the comics '{{=request.vars.m_comics}}' from all your boxes.
  </div>
  {{elif m == 'comics_deleted':}}
  <div class="alert alert-success">
    You've successfully removed the '{{=request.vars.m_comics}}'
  </div>
  {{pass}}
{{pass}}
