{{extend 'layout.html'}}
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  <li class="active">Your Boxes</a></li>
</ol>
<div class="row" style="height:100%">
  <div class="col-xs-3 sidebar">
    <strong>Your Boxes</strong>
    <ul class="nav nav-pills nav-stacked">
      {{for item in response.user_boxes:}}
      <li>
        <a href="{{=URL('view', vars=dict(id=item.id))}}" id="box-id-{{=item.id}}">{{=item.name}}{{if item.public:}}<span class="label label-default" style="float:right;">Public</span>{{pass}}</a>
      </li>
      {{pass}}
    </ul>
    <hr/>
    <a href="{{=URL('create')}}" style="float:right;" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i> New Box</a></li>
  </div>
  <div class="col-xs-9 main">
      <h1>Create New Box</h1>
      {{if response.submitted:}}
        {{if form.errors:}}
        <div id="error-status" class="alert alert-danger">Hmm... Something went wrong. Check below for details.</div>
        {{else:}}
        <div id="success-status" class="alert alert-success">Whoohoo. The box is ready. <a href="{{=URL('view', vars=dict(id=form.vars.id))}}" class="alert-link">Click here to access it!</a> or <a href="{{=URL('create')}}" class="alert-link">add another one.</a></div>
        {{pass}}
      {{pass}}
      {{if not response.submitted or form.errors:}}
          {{=form.custom.begin}}
          <div class="form-horizontal">
            <div class="form-group {{if form.errors.name: }} has-error {{pass}}">
              <div class="col-xs-2"><label for="box_name">Name</label></div>
              <div class="col-xs-5">
                {{=form.custom.widget.name}}
              </div>
              <div class="col-xs-5"><small>The name must be unique in your collection</small></div>
            </div>
            <div class="form-group">
              <div class="col-xs-7">{{=form.custom.widget.public}} <label for="box_public">Make this box public</label></div>
              <div class="col-xs-5"><small>You can share your collection with other users.</small></div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" class="btn btn-success" value="Create Box"/>
              </div>
            </div>
          </div>
          {{=form.custom.end}}
      {{pass}}
    </div>
  </div>
</div>
