{{extend 'layout.html'}}
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  <li class="active">Your Boxes</a></li>
</ol>
<div class="row" style="height:100%">
  <div class="col-xs-3 sidebar">
    <strong>Boxes</strong>
    <ul class="nav nav-pills nav-stacked">
      {{for item in response.user_boxes:}}
      <li class="{{if response.box.id == item.id:}} active {{pass}}">
        <a href="{{=URL('view', vars=dict(id=item.id))}}" id="box-id-{{=item.id}}">{{=item.name}}{{if item.public:}}<span class="label label-default" style="float:right;">Public</span>{{pass}}</a>
      </li>
      {{pass}}
    </ul>
    {{if auth.user_id == response.box.user:}}
    <hr/>
    <a href="{{=URL('create')}}" style="float:right;" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i> New Box</a></li>
    <div class="clearfix"></div>
    {{pass}}
    <hr/>
    <div class="text-center">
      <a href="{{=URL('all')}}">View All Comics</a>
    </div>
  </div>
  <div class="col-xs-9 main">
    <h1 class="page-heading">{{=response.box.name}}
      {{if response.box.user == auth.user_id:}}
      <div class="btn-group pull-right" style="margin:5px 0px;">
        <button id="box-settings" type="button" class="btn btn-default btn-sm dropdown-toggle" {{if response.box.name == 'Unfiled':}} disabled="disabled" {{pass}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Box Options <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="{{=URL('visibility', vars=dict(id=response.box.id))}}" id="toggle-box-visibility">
              {{if response.box.public:}}
              <i class="glyphicon glyphicon-star-empty"></i> Make Private
              {{else:}}
              <i class="glyphicon glyphicon-star"></i> Make Public
              {{pass}}
            </a>
          </li>
          <li><a href="{{=URL('edit', vars=dict(id=response.box.id))}}" id="box-rename"><i class="glyphicon glyphicon-pencil"></i> Rename</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
        </ul>
        {{if response.box.name == 'Unfiled':}}
        <div class="tooltip-wrapper-sm" title="Unfiled box cannot be edited." data-toggle="tooltip" data-placement="top"></div>
        {{pass}}
      </div>
      <a href="{{=URL('comics', 'create', vars=dict(id=response.box.id))}}" style="margin:5px 0px;" class="btn btn-success btn-sm pull-right"><i class="glyphicon glyphicon-plus"></i> New Comics</a>
      {{pass}}
    </h1>
    {{if response.message == 1:}}
    <div class="alert alert-success" id="alert-success-1">You've successfully changed visibility settings of this box to: <strong>{{if response.box.public:}}public{{else:}}private{{pass}}</strong>.</div>
    {{elif response.message == 2:}}
    <div class="alert alert-success" id="alert-success-2">You've successfully deleted box <strong>{{=response.prev_box}}</strong>. All the comics have been transferred here.</div>
    {{elif response.message == 3:}}
    <div class="alert alert-success" id="alert-success-3">You've successfully deleted comic <strong>{{=response.prev_box}}</strong>.</div>
    {{elif response.message == 4:}}
    <div class="alert alert-success" id="alert-success-4">You've successfully copied the comics "<strong>{{=response.prev_comics.title}}</strong>" to your box "<strong>{{=response.prev_box.name}}</strong>". Click <a href="{{=URL('comics', 'view', vars=dict(id=response.prev_comics.id))}}" class="alert-link">here</a> to view it.</div>
    {{pass}}

    <div class="row">
      {{if len(response.comics) == 0:}}
      <div class="alert alert-info"><i class="glyphicon glyphicon-info-sign"></i> There are no comics in this box.
        {{if response.box.user == auth.user_id:}}
        <a href="{{=URL('comics', 'create', vars=dict(box=response.box.id))}}" class="alert-link">Click here to add new</a> or
        <a href="{{=URL('default', 'advanced')}}" class="alert-link">search for one</a>.
        {{pass}}
      </div>
      {{else:}}
      {{for comics in response.comics:}}
      <div class="col-xs-4" id="comics-id-{{=comics.id}}">
        <div class="panel">
          <div class="thumbnail">
            <div class="thumbnail-wrapper">
              <a href="{{=URL('comics', 'view', vars=dict(id=comics.id))}}">
                <img src="{{=URL('default', 'download', args=comics.cover)}}" alt="Cover" style="width:100%"/>
              </a>
            </div>
          </div>
          <div class="caption panel-body">
            <a href="{{=URL('comics', 'view', vars=dict(id=comics.id))}}"><h4>{{=comics.title}}</h4></a>
            <p class="label label-default">#{{=comics.issueNo}}</p>
            <p>Owner:</p>
            <div class="clear">
            </div>
            <hr/>
            <a href="{{=URL('comics', 'view', vars=dict(id=comics['id']))}}" class="btn btn-success btn-sm pull-left">Details</a>
            <div>
              {{if auth.user_id:}}
              <div class="btn-group pull-right" data-toggle="tooltip" data-placement="left" title="Copy the comics to:">
                <a href="{{=URL('comics', 'to_box', vars=dict(box=response.unfiled.id,comics=comics['id']))}}" class="btn btn-default btn-sm">Unfiled</a>
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" style="max-height:150px;overflow-y:scroll;width:100%">
                  {{for box in response.user_boxes:}}
                  <li><a href="{{=URL('comics', 'to_box', vars=dict(box=box.id,comics=comics['id']))}}">{{=box.name}}</a></li>
                  {{pass}}
                </ul>
              </div>
              {{else:}}
              <div class="pull-right">
                <div class="btn-group pull-right">
                  <button class="btn btn-default btn-sm" disabled="disabled">Unfiled</button>
                  <button type="button" class="btn btn-default btn-sm" disabled="disabled">
                    <span class="caret"></span>
                  </button>
                </div>
                <div class="tooltip-wrapper-sm" title="You need to login or register before you can add this to your collection."></div>
                <div class="clear"></div>
              </div>
              {{pass}}
            </div>
          </div>
        </div>
      </div>
        {{pass}}
    {{pass}}
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Deleting the box <strong>will not delete your comics</strong>. Instead, they will be <strong>moved to the 'Unfiled'</strong>. Are you sure you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="{{=URL('delete', vars=dict(id=response.box.id))}}" class="btn btn-danger">Remove box</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
