{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  <li><a href="{{=URL('boxes', 'index', args=[response.owner.id])}}" title="@{{=response.owner.username}}">{{=response.owner.name}}'s Collection</a></li>
  <li class="active">All comics</li>
</ol>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="panel-title">Boxes</span></div>
      <div class="list-group">
        {{for box in response.user_boxes:}}
        <a href="{{=URL('boxes', 'view', args=[box.id])}}" class="list-group-item " id="link-box-{{=box.id}}">
          {{=box.name}}
          {{if box.public:}}
          <span class="badge">Public</span>
          {{pass}}
        </a>
        {{pass}}
      </div>
    </div>
    <hr/><a href="{{=URL('default', 'search', vars=dict(all='true'))}}"><small>View all comics</small></a>
    <div class="pull-right">
      <a href="{{=URL('boxes', 'create')}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> New Box</a>
    </div>
  </div>
  <div class="col-xs-9">
    <h1 class="page-header">All Comics</h1>
    {{include 'messages.html'}}
    {{if not len(response.comics):}}
    <div class="alert alert-info">There are no comics in this box.
      Use the main search to find or <a href="{{=URL('comics', 'create')}}">create one.</a>
    </div>
    {{else:}}
    <div class="row">
      {{for comics in response.comics:}}
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="thumbnail">
            <a href="{{=URL('comics', 'view', args=[comics.comics.id],vars=dict(box=comics.comics_boxes.box))}}">
              <img src="{{=URL('default', 'download', args=comics.comics.cover)}}" alt="Cover" height="300" width="400" class="thumbnail_pic"/>
            </a>
          </div>
          <a href="{{=URL('comics', 'view', args=[comics.comics.id], vars=dict(box=comics.comics_boxes.box))}}" style="padding:0px 15px;min-height:50px;max-height:50px;overflow-y:hidden; display:block;">
            <div><div class="label label-default pull-right">#{{=comics.comics.issue_no}}</div><span style="font-size:17px;">{{=comics.comics.title}}</span></div>
          </a>
          <hr/>
          <div style="padding:0px 15px 15px 15px;line-height:30px;">
            <div class="pull-left">
              <span class="glyphicon glyphicon-user"></span> <a href="{{=URL('boxes', 'index', args=[response.owner.id])}}" title="@{{=response.owner.username}}">{{=response.owner.name}}</a>
            </div>
            <div class="pull-right">
              {{if auth.user_id:}}
              <div class="btn-group" data-toggle="tooltip" data-placement="left" title="Copy the comics to:">
                <a href="{{=URL('comics', 'to_box', vars=dict(box=response.unfiled.id,comics=comics.comics.id,url=URL('boxes', 'view', args=[comics.comics_boxes.id])))}}" class="btn btn-primary btn-sm">
                  <span class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;Unfiled</a>
                  <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" style="max-height:150px;overflow-y:scroll;width:100%">
                    {{for box in response.current_user_boxes:}}
                    <li><a href="{{=URL('comics', 'to_box', vars=dict(box=box.id,comics=comics.comics.id,url=URL('boxes', 'view', args=[comics.comics_boxes.box])))}}">{{=box.name}}</a></li>
                    {{pass}}
                  </ul>
                </div>
                {{else:}}
                <div class="btn-group pull-right">
                  <button class="btn btn-success btn-sm" disabled="disabled">Unfiled</button>
                  <button type="button" class="btn btn-success btn-sm" disabled="disabled">
                    <span class="caret"></span>
                  </button>
                </div>
                <div class="tooltip-wrapper-sm" title="You need to sign in before you can add this to your collection."></div>
                {{pass}}
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        {{pass}}
      </div>
      {{pass}}
    </div>
  </div>
</div>
