{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  <li class="active">New Box</li>
</ol>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-header">New Box</h1>
    {{if form.errors:}}
    <div class="alert alert-danger text-center">Sorry, we couldn't process your form, because there are some errors. Check below for more details.</div>
    {{pass}}
    <div class="form-horizontal">
      {{=form.custom.begin}}
      <div class="form-group {{if form.errors['name']:}}has-error{{pass}} ">
        <label for="box_name" class="control-label col-xs-2">Name</label>
        <div class="col-sm-6 help-block">
          {{=form.custom.widget.name}}
        </div>
      </div>
      <div class="form-group {{if form.errors['public']:}}has-errors{{pass}}">
        <div class="col-xs-5 col-xs-offset-2"><div class="checkbox"><label for="box_public" class="control-label">{{=form.custom.widget.public}} Make Public</label></div></div>
        <div class="col-xs-5 form-helper">Public boxes will be visible by the entire Longboxes community. <strong>Nobody will be able to edit your comics</strong>, but they will be able to copy your comics to their collection.</div>
      </div>
      <hr/>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <input type="submit" value="Create Box" class="btn btn-success"/>
        </div>
      </div>
      <div class="form-">
      </div>
      {{=form.custom.end}}
    </div>
  </div>
</div>
