{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  {{if response.box.owner == auth.user_id:}}
  <li><a href="{{=URL('boxes', 'my')}}">My Collection</a></li>
  {{else:}}
  <li><a href="{{=URL('boxes', 'index', args=[response.owner.id])}}" title="@{{=response.owner.username}}">{{=response.owner.name}}'s Collection</a></li>
  {{pass}}
  <li class="active">{{=response.box.name}}</li>
</ol>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="panel-title">Boxes</span></div>
      <div class="list-group">
        {{for box in response.user_boxes:}}
        <a href="{{=URL('boxes', 'view', args=[box.id])}}" class="list-group-item {{if box.id == int(request.args(0)):}}active{{pass}}" id="link-box-{{=box.id}}">
          {{=box.name}}
          {{if box.public:}}
          <span class="badge">Public</span>
          {{pass}}
        </a>
        {{pass}}
      </div>
    </div>
    {{if response.box.owner == auth.user_id:}}
    <hr/>
    <div class="pull-left" style="line-height:30px;">
    <a href="{{=URL('boxes', 'all')}}"><small>View all comics</small></a>
  </div>
    <div class="pull-right">
      <a href="{{=URL('boxes', 'create')}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> New Box</a>
    </div>
    {{pass}}
  </div>
  <div class="col-xs-9">
    <h1 class="page-header">{{=response.box.name}}
      {{if response.box.owner == auth.user_id:}}
      <div class="btn-group pull-right" style="margin:5px 0px;">
        <button id="box-settings" type="button" class="btn btn-default btn-sm dropdown-toggle" {{if response.box.name == 'Unfiled':}} disabled="disabled" {{pass}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Box Options <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="{{=URL('visibility', args=[response.box.id])}}" id="toggle-box-visibility">
              {{if response.box.public:}}
              <i class="glyphicon glyphicon-star-empty"></i> Make Private
              {{else:}}
              <i class="glyphicon glyphicon-star"></i> Make Public
              {{pass}}
            </a>
          </li>
          <li><a href="{{=URL('edit', args=[response.box.id])}}" id="box-rename"><i class="glyphicon glyphicon-pencil"></i> Rename</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
        </ul>
        {{if response.box.name == 'Unfiled':}}
        <div class="tooltip-wrapper-sm" title="Unfiled box cannot be edited." data-toggle="tooltip" data-placement="top"></div>
        {{pass}}
      </div>
      {{pass}}
    </h1>
    {{include 'messages.html'}}
    {{if not len(response.comics):}}
    <div class="alert alert-info">There are no comics in this box.
      Use the main search to find or <a href="{{=URL('comics', 'create')}}">create one.</a>
    </div>
    {{else:}}
    <div class="row">
      {{for comics in response.comics:}}
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="thumbnail">
            <a href="{{=URL('comics', 'view', args=[comics.comics.id],vars=dict(box=response.box.id))}}">
              <img src="{{=URL('default', 'download', args=comics.comics.cover)}}" alt="Cover" height="300" width="400" class="thumbnail_pic"/>
            </a>
          </div>
          <a href="{{=URL('comics', 'view', args=[comics.comics.id], vars=dict(box=response.box.id))}}" style="padding:0px 15px;min-height:50px;max-height:50px;overflow-y:hidden; display:block;">
            <div><div class="label label-default pull-right">#{{=comics.comics.issue_no}}</div><span style="font-size:17px;">{{=comics.comics.title}}</span></div>
          </a>
          <hr/>
          <div style="padding:0px 15px 15px 15px;line-height:30px;">
            <div class="pull-left">
              <span class="glyphicon glyphicon-user"></span> <a href="{{=URL('boxes', 'index', args=[response.owner.id])}}" title="@{{=response.owner.username}}">{{=response.owner.name}}</a>
            </div>
            <div class="pull-right">
              {{if auth.user_id:}}
              <div class="btn-group" data-toggle="tooltip" data-placement="left" title="Add to:">
                <a href="{{=URL('comics', 'to_box', vars=dict(box=response.unfiled.id,comics=comics.comics.id,url=URL('boxes', 'view', args=[response.box.id])))}}" class="btn btn-primary btn-sm">
                  <span class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;Unfiled</a>
                  <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" style="max-height:150px;overflow-y:scroll;width:100%">
                    {{for box in response.current_user_boxes:}}
                    <li><a href="{{=URL('comics', 'to_box', vars=dict(box=box.id,comics=comics.comics.id,url=URL('boxes', 'view', args=[response.box.id])))}}">{{=box.name}}</a></li>
                    {{pass}}
                  </ul>
                </div>
                {{else:}}
                <div class="btn-group pull-right">
                  <button class="btn btn-success btn-sm" disabled="disabled">Unfiled</button>
                  <button type="button" class="btn btn-success btn-sm" disabled="disabled">
                    <span class="caret"></span>
                  </button>
                </div>
                <div class="tooltip-wrapper-sm" title="You need to sign in before you can add this to your collection."></div>
                {{pass}}
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        {{pass}}
      </div>
      {{pass}}
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Deleting the box <strong>will not delete your comics</strong>. Instead, they will be <strong>moved to the 'Unfiled'</strong>.
          This action cannot be undone. Are you sure you want to proceed?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="{{=URL('delete', args=[response.box.id])}}" class="btn btn-danger">Remove box</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
