{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  <li class="active">New Comics</li>
</ol>
<h1 class="page-header">New Comics</h1>
<script>
function validate(){
  title = document.getElementById('comics_title').value;
  desc = document.getElementById('comics_description').value;
  issue = document.getElementById('comics_issue').value;
  publisher = document.getElementById('comics_publisher').value;
  writers = document.getElementsByName('writer[]');
  artists = document.getElementsByName('artist[]');
  valid = true
  if(title == '') {
    setError('title', 'Title cannot be empty.')
    valid = false
  } else {
    setValid('title_group')
  }
  if(desc.split(' ').length > 300) {
    setError('desc', 'Your description is too long. Currently it has: ' + desc.split(' ').length.toString() + ' words')
    valid = false
  } else {
    setValid('desc')
  }
  if(issue == '') {
    setError('issue', 'Issue number cannot be empty.')
    valid = false
  } else {
    setValid('issue')
  }
  if(publisher == '') {
    setError('publisher', 'You need add the publisher of your comics.')
    valid = false
  } else {
    setValid('publisher')
  }
  if(writers.length > 1) {
    any_writers = false
    for(i =0; i < writers.length; i++) {
      if(writers[i].value != '') {
        any_writers = true
      }
    }
    if(!any_writers) {
      valid = false
      setError('writer', "You need add at least one writer. Use the button above to add a new field.")
    } else {
      setValid('writer')
    }
  } else {
    valid = false
    setError('writer', "You need add at least one writer. Use the button above to add a new field.")
  }

  if(artists.length > 1) {
    any_artists = false
    for(i =0; i < artists.length; i++) {
      if(artists[i].value != '') {
        any_artists = true
      }
    }
    if(!any_artists) {
      valid = false
      setError('artist', "You need add at least one artist. Use the button above to add a new field.")
    } else {
      setValid('artist')
    }
  } else {
    valid = false
    setError('artist', "You need add at least one artist. Use the button above to add a new field.")
  }
  if(valid) {
    document.getElementById('comics_form').submit();
  } else {
    $('#error_mm').show()
    $('html,body').scrollTop(0);
  }
}
function setError(group,error) {
  $('#' + group + '_group').addClass('has-error');
  $('#' + group + '_par').html("" + error);

}
function setValid(group) {
  $('#' + group + '_group').removeClass('has-error');
  $('#' + group+'_par').html('')
}
</script>
<div class="form-horizontal">
  <div class="alert alert-danger" style="display:none" id="error_mm">Opps... We are really sorry, we couldn't process your form, because there are some errors. Check below for more details</div>
  <form action="#" enctype="multipart/form-data" method="post" id="comics_form">
  <div class="form-group" id="title_group">
    <label class="control-label col-xs-2">Title</label>
    <div class="col-xs-5 {{if form.errors['title']:}}has-error{{pass}}">{{=form.custom.widget.title}}<div class="help-block" id="title_par"></div></div>
    <div class="col-xs-5"></div>
  </div>
  <div class="form-group" id="desc_group">
    <label class="control-label col-xs-2">Description</label>
    <div id="comics-placeholder" class="col-xs-5 {{if form.errors['description']:}}has-error{{pass}} help-block">
      <textarea rows="8" placeholder="Optional" class="form-control" name="description" id="comics_description"></textarea>
      <div class="help-block" id="desc_par"></div>
    </div>
    <div class="col-xs-5 form-helper">Describe what's going on in the book. Good description needs to have <strong>less than 300 words</strong>.</div>
  </div>
  <hr/>
  <div class="form-group">
    <label class="control-label col-xs-2">Boxes</label>
    <div class="col-xs-5 {{if form.errors['title']:}}has-error{{pass}}">
      <div class="panel panel-default">
        <div class="panel-body" style="max-height:150px;overflow-y:scroll;">
          <input type="hidden" value="0" name="box[]"/>
          {{for box in response.boxes:}}
          <div class="col-xs-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="box[]" value="{{=box.id}}"/> {{=box.name}}
              </label>
            </div>
          </div>
          {{pass}}
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-5 form-helper">You can keep the <strong>same comics</strong> to <strong>multiple boxes</strong>. If you don't select any of the boxes; it will be added to 'Unfiled'. If you select a public box, other users will be able to copy this comics to their collection.</div>
  </div>
  <hr/>
  <div class="form-group" id="issue_group">
    <label for="issue_number" class="control-label col-xs-2">Issue Number</label>
    <div class="col-xs-5">
      <div class="input-group"><span class="input-group-addon" id="basic-addon1">#</span><input class="form-control" name="issue_number" id="comics_issue" type="number"/></div>
      <div class="help-block" id="issue_par"></div>
    </div>
    <div class="col-xs-5 form-helper">Enter the issue number of the comics. <strong>Don't use #</strong>; just the number e.g. 22. You can usually find it on the comics cover.</div>
  </div>
  <div class="form-group" id="publisher_group">
    <label for="publisher" class="control-label col-xs-2">Publisher</label>
    <div class="col-xs-5">
      <input class="form-control" name="publisher" type="text" list="publishers" id="comics_publisher"/>
      <div class="help-block" id="publisher_par"></div>
      <datalist id="publishers">
        {{for p in response.publishers:}}
        <option value="{{=p.name}}">
          {{pass}}
        </datalist>
      </div>
      <div class="col-xs-5 form-helper">The publisher of the e.g. Marvel, DC etc. You can usually find it on the comics cover.</div>
    </div>
    <hr/>
    <div class="form-group">
      <label for="comic_cover" class="control-label col-xs-2">Cover</label>
      <div class="col-xs-5">{{=form.custom.widget.cover}}</div>
      <div class="col-xs-5 form-helper">You can upload a thumbnail of the comics. You can upload <strong>any size</strong>, but <strong>ideally</strong>, the thumbnail should be <strong>400px x 300px</strong> or have a the aspect ratio <strong>4:3</strong> to avoid being distorted.</div>
    </div>
    <hr/>
    <div class="form-group" id="writer_group">
      <label class="control-label col-xs-2">Writers</label>
      <div class="col-xs-5">
        <div id="writer_holder">
          <div class="input-group">
            <input type="hidden" name="writer[]"/>
            <input type="text" name="writer[]" list="persons" class="form-control"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-danger" onclick="$(this).parent('span').parent('div').remove();" tabindex="-1" title="Remove this writer">&times;</button>
            </span>
          </div>
        </div>
        <datalist id="persons">
          {{for item in response.persons:}}
          <option value="{{=item.name}}"/>
          {{pass}}
        </datalist>
        <br/>
        <button type="button" class="btn btn-primary btn-sm" onclick="javascript:new_writer()">+ writer field</button>
        <script>
        function new_writer() {
          $('#writer_holder').append('<div class="input-group"><input type="text" name="writer[]" list="persons" class="form-control"/><span class="input-group-btn"><button type="button" class="btn btn-danger" onclick="$(this).parent(\'span\').parent(\'div\').remove();">&times;</button></span></div>')
        }
        </script>
        <div class="help-block" id="writer_par"></div>
      </div>

      <div class="col-xs-5 form-helper">
        <p>You can also specify the writers of the comics, it helps other users to find them.</p>
        <p>If there is more than one writer, use the <strong>'+ writer'</strong> button to <strong>add another input</strong>. If you would like to <strong>remove the writer</strong> use <strong>&times;</strong> to delete.</p>
      </div>
    </div>
    <hr/>
    <div class="form-group" id="artist_group">
      <label class="control-label col-xs-2">Artists</label>
      <div class="col-xs-5">
        <div id="artist_holder">
          <div class="input-group">
            <input type="hidden" name="artist[]"/>
            <input type="text" name="artist[]" list="persons" class="form-control"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-danger" onclick="$(this).parent('span').parent('div').remove();" tabindex="-1" title="Remove this artist">&times;</button>
            </span>
          </div>
        </div>
        <br/>
        <button type="button" class="btn btn-primary btn-sm" onclick="javascript:new_artist()">+ artist field</button>
        <script>
        function new_artist() {
          $('#artist_holder').append('<div class="input-group"><input type="text" name="artist[]" list="persons" class="form-control"/><span class="input-group-btn"><button type="button" class="btn btn-danger" onclick="$(this).parent(\'span\').parent(\'div\').remove();">&times;</button></span></div>')
        }
        </script>
        <div class="help-block" id="artist_par"></div>
      </div>
      <div class="col-xs-5 form-helper">
        <p>You can also specify the artists of the comics, it helps other users to find them.</p>
        <p>If there is more than one artist, use the <strong>'+ artist'</strong> button to <strong>add another input</strong>. If you would like to <strong>remove the artist</strong> use <strong>&times;</strong> to delete.</p>
      </div>
    </div>
    <hr/>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <input type="button" value="Create Comics" onclick="validate()" class="btn btn-success"/>
      </div>
    </div>
    {{=form.custom.end}}
  </div>
