{{extend 'layout.html'}}
<!-- #Exam No: Y0077439 -->
<ol class="breadcrumb">
  <li><a href="{{=URL('default', 'index')}}">Home</a></li>
  {{if response.owner.id == auth.user_id:}}
  <li>
    <a href="{{=URL('boxes', 'my')}}">My Collection</a>
  </li>
  {{else:}}
  <li>
    <a href="{{=URL('boxes', 'index', args=[response.owner.id])}}">{{=response.owner.name}}</a>
  </li>
  {{pass}}
  <li><a href="{{=URL('boxes', 'view', args=[response.box.id])}}">{{=response.box.name}}</a></li>
  <li class="active">{{=response.comics.title}}</li>
</ol>
<h1 class="page-header">
  <span id="comics-title">{{=response.comics.title}}</a></span>
  <div class="pull-right">
    {{if auth.user_id:}}
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-primary dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-duplicate"></span> Add to: <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" style="width:100%">
        {{for x in response.user_boxes:}}
        <li>
          <a href="{{=URL('comics', 'to_box',vars=dict(box=x.id,comics=response.comics.id, url=URL('comics', 'view', args=[response.comics.id], vars=dict(box=response.box.id))))}}">
            {{=x.name}}
          </a>
        </li>
        {{pass}}
      </ul>
    </div>
    {{pass}}
    {{if response.box.owner == auth.user_id:}}
    <div class="btn-group" role="group">
      <a href="{{=URL('edit', args=[response.comics.id])}}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Edit"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="glyphicon glyphicon-trash"></i> Delete <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{{=URL('from_box', vars=dict(comics=response.comics.id,box=response.box.id,url=URL('boxes', 'view', args=[response.box.id])))}}">Remove from this box</a></li>
          <li role="separator" class="divider"></li>
          <li><a data-toggle="modal" data-target="#myModal">Delete Completly</a></li>
        </ul>
      </div>
    </div>
    {{pass}}
  </div>
</h1>

{{include 'messages.html'}}
<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img src="{{=URL('default', 'download', args=[response.comics.cover])}}" alt="Cover" style="max-height:200px;"/>
          </div>
        </div>
      </div>
      <div class="col-xs-7">
        <div class="panel panel-default">
          <div class="panel-heading">Details</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3 aligh-right"><strong>Publisher</strong></div>
              <div class="col-xs-9"><a href="{{=URL('default','search', vars=dict(q=response.publisher.name))}}" id="detail-publisher">{{=response.publisher.name}}</a></div>
            </div>
            <div class="row">
              <div class="col-xs-3"><strong>Issue No</strong></div>
              <div class="col-xs-9" id="detail-issue-no">{{=response.comics.issue_no}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3"><strong>Writers</strong></div>
              <div class="col-xs-9" id="detail-writers">
                <!--SILLY COMMA ISSUE and JOIN doesn't work well with objects-->
                {{first=True}}
                {{for w in response.writers:}}{{if not first:}}{{=', '}}{{else:}}{{first = False}}{{pass}}<a href="{{=URL('default', 'search', vars=dict(q=w.person.name))}}" title="search">{{=w.person.name}}</a>{{pass}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3"><strong>Artists</strong></div>
              <div class="col-xs-9" id="detail-artists">
                <!--SILLY COMMA ISSUE -->
                {{first=True}}
                {{for a in response.artists:}}{{if not first:}}{{=', '}}{{else:}}{{first = False}}{{pass}}<a href="{{=URL('default', 'search', vars=dict(q=a.person.name))}}" title="search">{{=a.person.name}}</a>{{pass}}
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3"><strong>Owner</strong></div>
              <div class="col-xs-9"><span id="detail-owner">{{=response.owner.name}}</span> (<a href="{{=URL('boxes', 'index', args=[response.owner.id])}}">View Collection</a>)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Description</div>
          <div class="panel-body">
            {{=XML(response.comics.description.replace('\n','<br/>'), permitted_tags=['br/'])}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">In this box:</div>
      <div class="panel-body" style="max-height:470px;overflow-y:auto;">
        <div class="list-group">
          {{for comics in response.collection:}}
          <a href="{{=URL('view', args=[comics.comics.id], vars=dict(box=response.box.id))}}" class="list-group-item {{if comics.comics.id == response.comics.id:}}active{{pass}}">
            {{=comics.comics.title}}
          </a>
          {{pass}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>This action will <strong>permanently delete this comics</strong>. Are you sure you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="{{=URL('delete', args=[response.comics.id])}}" class="btn btn-danger">Delete This Comics</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
